:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: "Inconsolata", monospace;
    font-size: larger;
}

.score {
    right: 0;
    top: 0;
    margin-right: 1rem;
    position: fixed;
}

.gameOver {
    background-color: #1a1a1a;
    border: #ebebeb solid 2px;
    border-radius: 50px;
    width: 40vw;
    height: 30vw;
    max-width: 500px;
    max-height: 400px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gameOver > p {
    font-size: 3vw;
    padding: 0;
    margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
    .gameOver {
        max-height: 150px;
        font-size: 3vw;
    }
}

button {
    background-color: #242424;
    border: #ebebeb solid 2px;
    border-radius: 50px;
    color: white;
    padding: 1.5vw 1.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Inconsolata", monospace;
    cursor: pointer;
    margin: 5%;
}
